**/*backup*
**/*backup*/
**/*.zip
**pycache**
**__MACOSX**
**/*.onnx
camera_env/
**/*.onnx
**/*.pt
working/output/stereo_pcd*

working/03_3D_CV/models/
working/03_3D_CV/stereo_data/
working/03_3D_CV/stereo_vision_data/
working/03_3D_CV/output/out*.png
working/03_3D_CV/output/out*.ply
working/03_3D_CV/output/*.pkl

working/04_3D_Reconst/output/
working/04_3D_Reconst/data/
#working/04_3D_Reconst/ONNX-CREStereo-Depth-Estimation/
#working/03_3D_CV/monodepth2/